    body.pagina-secundaria {
        background-color: #e9f4fb;
        background: url(img/background.png) center fixed no-repeat;
        background-size: cover;
        font-family: 'Segoe UI', sans-serif;
    }

    .header {
        background-color: #543997;
        color: white;
        padding: 20px;
        border-radius: 5px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .main-title {
        color: #ffffff;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        margin: 0;
    }

    .border-box {
        background-color: white;
        border: 2px solid #543997;
        padding: 25px;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    }

    .rounded-input {
        border-radius: 25px;
    }

    .btn-custom {
        background-color: #543997;
        color: white;
        border-radius: 25px;
    }

    .btn-custom:hover {
        background-color: #6500b3;
    }
    
    .form-title {
        color: #543997;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .info-text {
        line-height: 1.6;
        color: #333;
        text-align: justify;
    }

    .card {
      background-color: #ffffff;
      color: #333333;
      border: none;
      border-radius: 10px;
      padding: 20px;
    }

    .header_ico{
      width: 64px;
      height: 64px;
      position: fixed;
      left: 24px;
      top: 16px;
    }

    .galeria-img {
        max-height: 248px;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.2s ease;
    }

    .galeria-img:hover {
        transform: scale(1.05);
    }

    .navbar-brand {
        font-weight: bold;
        color: #543997 !important;
    }
    #carouselPortada img {
        max-height: 400px;
        object-fit: cover;
    }

    .servicio-box {
        background: #fff;
        border: 2px solid #543997;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    }

    .testimonio {
        background: #fff;
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    }
